body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
  margin: .3em;
  max-width: 100%;
}

main section {
  max-width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

h2 {
  padding: 1em .5em;
  margin: 0;
  box-shadow: 0 .1em .3em #9a9a9a;
  word-wrap: break-word;
  transition: all .3s;
}

a:hover h2,
a:focus h2 {
  opacity: .8;
  transform: scale(1.02);
  box-shadow: 0 .2em .3em #aeaeae;
}

figure {
  padding: 1em;
  box-shadow: 0 .1em .3em #9a9a9a;
}

figcaption {
  margin-top: 1em;
}

img {
  max-width: 100%;
}

.park h2, 
.plantsoen h2 {
  height: 6em;
}

.park h2 {
  background-color: #397367;
  background-image: url(../img/park.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.plantsoen h2 {
  background-color: #5DA399;
  background-image: url(../img/plantsoen.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.offline {
  z-index: 999;
  background: #C03221;
  box-shadow: .1em .1em .3em #ababab;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #ffffff;
}